---
import '../styles/global.css'

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="flex items-center justify-center min-h-screen bg-gray-100 px-4">
		<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-4xl mt-4">
		  
		  <!-- Título -->
		  <h1 class="text-2xl font-bold text-center mb-2">Formulario de Datos</h1>
	  
		  <!-- Descripción -->
		  <p class="text-center text-gray-600 mb-6">
			Bienvenido a <strong>IAnutri</strong>, una plataforma inteligente que te ayuda a gestionar datos nutricionales de forma efectiva, precisa y segura.
		  </p>
	  
		  <!-- Contenedor de columnas -->
		  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
			<!-- Columna Izquierda: Imagen -->
			<div class="flex justify-center">
			  <img src="/public/logo.png" alt="IAnutri" class="max-w-full h-auto rounded-md">
			</div>
	  
			<!-- Columna Derecha: Formulario -->
			<div>
			  <slot />
			</div>
		  </div>
		  
		</div>
	  </body>
	  
	  
	<style is:global>
		body {
			font-family: Arial, sans-serif;
		}
	</style>
</html>